*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.container {
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap; /* allows boxes to wrap to the next line */
  width: 640px; /* 16 boxes x 40px each */
  height: 640px; /* 16 rows x 40px each */
  border: 2px solid #000;
  box-sizing: content-box; /* to make the border "outside" */
}

.box {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  /* background-color: cornsilk; */
  transition: background-color 0.2s ease;
}

.box.active {
  background-color: #333; /* dark pixel */
}
